In [60]:
import pandas as pd
import seaborn as sns
from scipy.stats import zscore
import matplotlib.pyplot as plt

In [61]:
data = pd.read_csv('API_Trend.csv')
data['DATE'] = pd.to_datetime(data['DATE'], format='%d-%m-%y')

df = data.copy()

df['SUM_COUNT'] = df.groupby(['DATE','APPNAME', 'API'])['COUNT'].transform('sum')
df_gp = df.drop_duplicates(subset=['DATE','APPNAME', 'API'])
df_gp.drop(['COUNT', 'STATUS'], axis=1, inplace=True)
df_gp = df_gp.reset_index(drop=True)
df_gp = df_gp.sort_values(by=['DATE'], inplace=True)

C:\Users\Prime\AppData\Local\Temp\ipykernel_23148\4218122945.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_gp.drop(['COUNT', 'STATUS'], axis=1, inplace=True)

In [62]:
pro_df = []
for i in df_gp['APPNAME'].unique():
    for j in df_gp[df_gp['APPNAME']==i]['API'].unique():
        ind_df = df_gp[(df_gp['APPNAME']==i) & (df_gp['API']==j)]
        zs = zscore(ind_df['SUM_COUNT'])
        ind_df['ZS'] = zs
        Outlier = pd.Series([0]*len(ind_df), index=ind_df.index)
        Outlier[zs>=3] = 1
        Outlier[zs<=-3] = 1
        ind_df['OUTLIER'] = Outlier
        pro_df.append(ind_df)
final_df = pd.concat(pro_df)

TypeError: 'NoneType' object is not subscriptable

In [ ]:

for i in final_df[final_df['OUTLIER']==1]['APPNAME'].unique():
    for j in final_df[(final_df['APPNAME']==i) & final_df['OUTLIER'] == 1]['API'].unique():
        ind_df = final_df[(final_df['APPNAME']==i) & (final_df['API']==j)]
        #plt.figure(figsize=(10, 5))
        #plt.scatter(range(len(ind_df)), ind_df['SUM_COUNT'], c=ind_df['OUTLIER'])
        #plt.title(i+' '+j)

In [ ]:
an_list = final_df[(final_df['DATE'] == '2023-08-08')][final_df['OUTLIER'] == 1][['APPNAME', 'API']].values.tolist()
an_list

C:\Users\Prime\AppData\Local\Temp\ipykernel_23148\1093306045.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  an_list = final_df[(final_df['DATE'] == '2023-08-08')][final_df['OUTLIER'] == 1][['APPNAME', 'API']].values.tolist()

[['App85', 'API23']]

In [ ]:
final_df

            DATE APPNAME    API  SUM_COUNT  OUTLIERS        ZS  OUTLIER
0     2023-07-04    App1  API18          8         0 -0.316085        0
301   2023-07-05    App1  API18          9         0 -0.296613        0
599   2023-07-06    App1  API18          5         0 -0.374501        0
898   2023-07-07    App1  API18         18         0 -0.121366        0
1197  2023-07-08    App1  API18         17         0 -0.140838        0
...          ...     ...    ...        ...       ...       ...      ...
20825 2023-09-12  App137  API15          1         0 -0.500000        0
21112 2023-09-13  App137  API15          1         0 -0.500000        0
21408 2023-09-14  App137  API15          1         0 -0.500000        0
18772 2023-09-05  App138  API15          1         0       NaN        0
19658 2023-09-08  App138  API15          1         0       NaN        0

[23103 rows x 7 columns]